<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="utf-8">
    <title>1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<style>
    ul{
        width: 50%;
        height: 50%


        }

</style>


</head>
<body>

<br><br>
<center>
      <ul class="nav nav-tabs">

        <li role="presentation"class="active"><a href="{% url 'home' %}">Home</a></li>
        <li role="presentation" ><a href="{% url 'story' %}">bulletin</a></li>
          <li role="presentation"><a href="{% url 'new' %}">report</a></li>
          <li role="presentation"><a href="{% url 'messages' %}">hommie</a></li>
    </ul>
</center>
<br>
<center>
<h1>MAKE MY BLOG</h1>
</center>


</body>
</html>