<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


    <style>
    ul{
        width: 50%;
        height: 50%


        }


    </style>


</head>
<body>
<br><br>

<center>
  <ul class="nav nav-tabs">

        <li role="presentation"class="active"><a href="{% url 'home' %}">Home</a></li>
        <li role="presentation" ><a href="{% url 'story' %}">bulletin</a></li>
          <li role="presentation"><a href="{% url 'new' %}">report</a></li>
          <li role="presentation"><a href="{% url 'messages' %}">hommIE</a></li>
    </ul>


    <br><br><br><br>
   <h3><p> p.s </p>

       <br> 김윤아 - #1 / 있지 / 미안해 널 미워해
       <br> Billie Eilish - Wish You Were Gay
       <br> Oasis - Chapagne Supernova
       <br> 경제환 - 니가 돌아올 희망은 없단 걸 알아
       <br> 서울문 - 우리들의 지난 여름 밤
       <br> Adam Levine - Lost Stars
       <br><br>
       <p>추천해✨</p></h3>


</center>




</body>
</html>